@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	color: white;
}

/* ::-webkit-scrollbar {
	width: 0;
} */

.gradient-2 {
	background: linear-gradient(
		45deg,
		rgba(10, 14, 20, 1) 0%,
		rgba(13, 17, 23, 1) 100%
	);
}

.gradient-1 {
	background: linear-gradient(
		45deg,
		rgba(255, 81, 0, 1) 0%,
		rgba(152, 73, 255, 1) 100%
	);
}

.gradient-1-text {
	background: linear-gradient(
		45deg,
		rgba(255, 81, 0, 1) 0%,
		rgba(152, 73, 255, 1) 100%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.step > div {
	background-color: rgb(255, 230, 244);
	color: rgb(255, 133, 146);
}